################################################################################
# Ce fichier .gitignore a été automatiquement créé par Microsoft(R) Visual Studio.
################################################################################

/DistribueMonnaie/bin/Debug
/DistribueMonnaie/obj/Debug
/DistribueMonnaie.Business/bin/Debug
/DistribueMonnaie.Business/obj/Debug
/DistribueMonnaie.Entities/obj/Debug
/DistribueMonnaie.Entities/bin/Debug
